@use "../base/var" as v;
.expenses-chart {
  width: 375px;
  height:41.6875rem ;
  padding-inline: 1rem;
  overflow: hidden;
 
  .header {
    height:6.25rem ;
    margin-top: 4.25rem;
    border-radius: 16px;
    background-color: v.$Softred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.25rem;
    color: v.$Very-pale-orange;

    .header__content {
      &__title {
        font-size: 0.875em;
        margin-bottom: 8px;
      }
      &__cost {
        font-size: 1.313em;
        font-weight: 700;
      }
    }
    .header__logo {
      width: 5rem;
      
    }
  }
}

@media screen and (min-width: 425px) {
  body{
   
    display: grid;
    place-items: center;
    min-width: 100vh;

    .expenses-chart{
      width: 455px;
      margin: 180px auto ;

      .header{
        padding: 1.875rem 2rem;
        &__content {
          &__title {
            font-size: 1.3em;
            margin-bottom: 8px;
          }
          &__cost {
            font-size: 2em;
            font-weight: 700;
          }
        }
      }

      }
  }
}