@use "../base/var" as v;
.expenses-chart {
  padding-inline: 16px;
  display: grid;
  row-gap: 1rem;
 

  .header {
    height:96px ;
    margin-top: 68px;
    border-radius: 0.5rem;
    background-color: v.$Softred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    color: v.$Very-pale-orange;

    .header__content {
      &__title {
        font-size: 0.875em;
        margin-bottom: 0.5rem;
      }
      &__cost {
        font-size: 1.313em;
        font-weight: 700;
      }
    }
    .header__logo {
      width: 3.9375rem;
      height: 2.6875rem;
    }
  }
}
